.body {
background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("./images/ChatGPT\ Image\ Aug\ 28\,\ 2025\,\ 02_57_59\ PM.png");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

.content {
    text-align: center;
    width: 100%;
    color: white;
    padding-top: 10%;
}

.btn{
    background-color:black;  
         text-decoration: underline;
    padding: 8px 16px;           
    border-radius: 5px;          
    text-align: center;
    transition: background-color 0.3s ease;

}
.content a:hover {
    background-color: #0056b3; 
          
}
.header{
 text-align: center;
 color: black;


}